{% extends "base_generic.html" %}
<script src="https://cdn.tailwindcss.com"></script>

{% block content %}
  <h1 class="py-4 px-8 bg-slate-600 text-white">{{ project.project_title }}</h1>
  <p class="py-4 px-8 bg-slate-600 text-white">Project Number: {{ project.project_number }}</p>
  <p class="py-4 px-8 bg-slate-600 text-white">Project Leader: {{ project.project_leader }}</p>
  <p class="py-4 px-8 bg-slate-600 text-white">Start Date: {{ project.start_date }}</p>
  <p class="py-4 px-8 bg-slate-600 text-white">End Date: {{ project.end_date }}</p>
  <p class="py-4 px-8 bg-slate-600 text-white">Scope of Work: {{ project.scope_of_work }}</p>
  <p class="py-4 px-8 bg-slate-600 text-white">Approved Hours: {{ project.approved_hours }}</p>
  <p class="py-4 px-8 bg-slate-600 text-white">Product Number: {{ project.product_number }}</p>
  <p class="py-4 px-8 bg-slate-600 text-white">Trigger: {{ project.trigger }}</p>
  <p class="py-4 px-8 bg-slate-600 text-white">Client Name: {{ project.client_name }}</p>
  <a class="py-4 px-8 bg-slate-600 text-white" href="{% url 'project_edit' project.pk %}">Edit</a>
  <a class="py-4 px-8 bg-slate-600 text-white" href="{% url 'project_delete' project.pk %}">Delete</a>
{% endblock %}
